
.login-form {
    position: fixed;
    top: 0;
    left: 0;
    z-index: 1000;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, .8);
    display: none;
    align-items: center;
    justify-content: center;
    padding: 2rem;

    &.active {
        display: flex;
    }

    form {
        width: 50rem;
        padding: 4rem;
        background: $white;
        text-align: center;
        position: relative;
        animation: fadeIn .2s linear;

        #close-login-form {
            position: absolute;
            top: -4rem;
            right: 0;
            font-size: 3rem;
            cursor: pointer;
            color: $white;

            &:hover {
                transform: rotate(90deg);
            }
        }

        .logo {
            font-size: 2.5rem;
            color: $main-color;
            font-weight: bolder;
        }

        h3 {
            padding: 1rem 0;
            @include title-text(2rem);
            margin-top: 1rem;
        }

        .box {
            width: 100%;
            padding: 1.2rem 1.4rem;
            border: $border;
            font-size: 1.6rem;
            margin: 1rem 0;
        }

        .flex {
            display: flex;
            align-items: center;
            gap: .5rem;
            margin: 1rem 0;

            label{
                @include graph-text(1.5rem);
                cursor: pointer;
            }

            a {
                font-size: 1.5rem;
                color: $main-color;
                margin-left: auto;

                &:hover {
                    text-decoration: underline !important;
                }
            }
        }

        .link-btn {
            width: 100%;
            margin-bottom: 1rem;
        }

        .account {
            padding: 1.5rem .5rem;
            background: $light-bg;
            @include graph-text(1.5rem);

            a {
                color: $main-color;

                &:hover {
                    text-decoration: underline !important;
                }
            }
        }
    }
}